* {
    font-family: 'PT Sans', sans-serif;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c4343;
}

.navbar {
    background-color: #255555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
}

.nav-link {
    color: white;
}
/* Carousel */
#carouselfoto {
    height: 500px;
    width: auto;
    filter: brightness(50%);
}

#contact {
    background-color: #255555;
}