<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pengumuman</title>

    <meta property="og:title" content="PPDB Online" />
    <meta property="og:description" content="PPDB Online" />
    <meta property="og:image" content="{{url_for('static', filename='logo.jpeg')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.jpeg')}}" type="image/x-icon" />
    <link rel="icon" href="{{url_for('static', filename='logo.jpeg')}}" type="image/x-icon" />
    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <!-- Link Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- Link Ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Link CDN Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Link FA -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- Link Sweetalert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script>
        function hapus() {
            $("#tglpengumuman").val("");
            $("#isipengumuman").val("");
        }
        $(document).ready(function () {
            $('#btnupdate').click(function () {
                Swal.fire('Data Berhasil di Update!', '', 'success');
            });
        });

    </script>
    <style>
        * {
            font-family: 'PT Sans', sans-serif;
        }

        /* General Styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1c4343;
        }

        .navbar {
            background-color: #255555;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
        }

        .nav-link {
            color: white;
        }

        .tbl {
            padding: 35px;
            border-radius: 10px;
            background-color: white;
            margin-top: 100px;
            width: 650px;
            box-shadow: 0px 13px 9px 24px rgba(0, 0, 0, 0.1);
        }
    </style>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg rounded fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
                aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" href="/home_admin">
                    <img src="{{ url_for('static', filename='logo.jpeg') }}" style="width: 45px; height:45px" />
                    <span class="fs-4 nav-font" style="font-weight:bold; color: white;">PPDB Santri</span>
                </a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home_admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listpendaftar">Pendaftar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/validasidata">Validasi Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pengumumanadmin">Pengumuman</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-display="static" aria-expanded="false">
                    <img src="static/profile_pics/profile_placeholder.png" alt="User Photo"
                        class="dropdown-toggle-image rounded-5" style="width: 30px; height :30px; ">
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End navbar -->
    <div class="container tbl mb-5">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div style="padding:8px 0;">
                        <div class="table-responsive">
                            <h4 class="d-flex justify-content-Left">Halaman Edit Pengumuman</h4>
                            <p class="text-muted">Edit Isi Pengumuman!</p>
                            <form method="POST" action="/update/{{ data.isipengumuman }}">
                                <div class="mb-3">
                                    <label class="form-label">Tanggal Pengumuman:</label>
                                    <input type="date" class="form-control" id="tglpengumuman" name="tglpengumuman"
                                        value="{{ data.tglpengumuman }}" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Isi Pengumuman:</label>
                                    <textarea class="form-control" id="isipengumuman" name="isipengumuman"
                                        value="{{ data.isipengumuman }}" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="link" class="form-label">Tautan:</label>
                                    <input type="url" class="form-control" id="link" name="link" value="{{ data.link }}">
                                </div>
                                <div class="d-flex col-md-6">
                                    <button type="submit" class="btn btn-success flex-fill"
                                        id="btnupdate">Update</button>&nbsp
                                    <button type="button" class="btn btn-outline-primary flex-fill mr-2"
                                        onclick="hapus()">Hapus</button> &nbsp
                                    <a type="button" class="btn btn-outline-secondary flex-fill mr-2"
                                        href="/pengumumanadmin">Batal</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
