<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi</title>

    <meta property="og:title" content="PPDB Online" />
    <meta property="og:description" content="PPDB Online" />
    <meta property="og:image" content="{{url_for('static', filename='logo.jpeg')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.jpeg')}}" type="image/x-icon" />
    <link rel="icon" href="{{url_for('static', filename='logo.jpeg')}}" type="image/x-icon" />
    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <!-- Link Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- Link Ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Link CDN Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Link FA -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- Link CSS -->
    <link href="{{ url_for('static', filename='pendaftaran.css') }}" rel="stylesheet" />
    <script src="/static/pendaftaran.js"></script>
    <style>
        .status-icon {
            font-size: 48px;
            /* Mengubah ukuran ikon */
            margin-right: 10px;
            vertical-align: middle;
            /* Memposisikan ikon secara vertikal tengah */
        }

        .verifikasi-content {
            text-align: center;
            /* Memposisikan teks dan ikon ke tengah */
            margin-top: 20px;
        }

        .verifikasi-content p {
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg rounded fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
                aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" href="/dashboard">
                    <img src="{{ url_for('static', filename='logo.jpeg') }}" style="width: 45px; height:45px" />
                    <span class="fs-4 nav-font" style="font-weight:bold; color: white;">PPDB Santri</span>
                </a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pendaftaran">Pendaftaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pengumumanuser">Pengumuman</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/verifikasi">Status Verifikasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-display="static" aria-expanded="false">
                    {% for user in users %}
                    {% if user.foto %}
                    <img src="{{ user.foto }}" alt="User Photo" class="dropdown-toggle-image rounded-5"
                        style="width: 30px; height: 30px;">
                    {% else %}
                    <img src="static/profile_pics/profile_placeholder.png" alt="User Photo"
                        class="dropdown-toggle-image rounded-5" style="width: 30px; height: 30px;">
                    {% endif %}
                    {% endfor %}
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="/profile"><i class="fa fa-user"
                                aria-hidden="true"></i>Profile</a></li>
                    <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"
                                aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End navbar -->

    <!-- Verifikasi -->
    <section id="registrasi">
        <div class="container">
            <div class="card">
                <div class="card-body px-5 py-5">
                    <div class="verifikasi-content">
                        {% for user in users %}
                        {% if user.status == 'menunggu' %}
                        <i class="fa fa-hourglass-start status-icon menunggu"></i>
                        <h3>Terima kasih telah mendaftar di PONPES YATIM PIATU & DHUAFA TAHFIDZUL QUR'AN RIYADHUS
                            SHOLIHIN. Kami sedang memproses pendaftaran Anda. Mohon bersabar, tim kami sedang bekerja
                            keras untuk memverifikasi informasi yang Anda berikan. Kami akan segera memberikan kabar
                            terbaru secepatnya. Terima kasih atas pengertiannya.</h3>
                        {% elif user.status == 'diterima' %}
                        <i class="fa fa-check-circle status-icon diterima text-success"></i>
                        <h3 style="margin-bottom: 30px;">Selamat! Pendaftaran Anda telah diterima dengan sukses di
                            PONPES YATIM PIATU & DHUAFA TAHFIDZUL QUR'AN RIYADHUS SHOLIHIN. Kami sangat antusias untuk
                            menyambut Anda sebagai bagian dari pesantren kami. Terima kasih atas kepercayaan Anda kepada
                            kami. Selamat bergabung dan nikmati perjalanan pendidikan yang penuh inspirasi bersama
                            pesantren kami!</h3>
                        <a href="/unduh-pdf" download class="btn btn-primary">Unduh Kartu Ujian</a>
                        {% elif user.status == 'ditolak' %}
                        <i class="fa fa-times-circle status-icon ditolak text-danger"></i>
                        <h3>Maaf, pendaftaran Anda di PONPES YATIM PIATU & DHUAFA TAHFIDZUL QUR'AN RIYADHUS SHOLIHIN
                            telah ditolak. Terima kasih atas partisipasi Anda dan upaya yang telah Anda lakukan. Kami
                            menghargai minat Anda terhadap pesantren kami, meskipun saat ini pendaftaran Anda tidak
                            dapat diterima. Jika Anda memiliki pertanyaan lebih lanjut atau ingin mencari informasi
                            tambahan, jangan ragu untuk menghubungi kami. Terima kasih atas pengertian dan kesempatan
                            yang diberikan.</h3>
                        {% else %}
                        <h3>Anda belum mendaftar sebagai calon santri</h3>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Verifikasi-->
</body>

</html>